{% if error %}<p><strong><span class="error">{{ error }}</span></strong></p>{% endif %}
<form action="{% url 'blog:comment' article.uuid %}" method="post">
    {% csrf_token %}
    <label for="comment_area">{{ author.username }}, have your say in 400 chars or less</label><br>
    <textarea name="comment" id="comment_area" ></textarea><br>
    <input type="submit" value="submit">
</form>
<div id="show_comments" class="past-comments">
{% if comments %}
    {% for comment in comments %}
    <div class="posted-comment">
        <span class="comments-avatar">
            <img src="{{ comment.author_id__small_avatar_url }}"></img>
        </span>
        <span class="comments-text">
            <p class="comments-header"><strong>{{ comment.author_id__username }}</strong> - {{ comment.pub_date }}</p>
            <p class="comments-content">{{ comment.comment_text }}</p>
        </span>
    </div>
    {% endfor %}
{% endif %}
</div>